
.toolbar{
    background-color: #141D48;
    height: 120px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
    margin-top: 35px;
    
}
.img{
    position: relative;
    height: 100px;
    padding-top: 5px;
   
}
article {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  
.icon {
    color:white ;
}

.input-container{
    margin-top: 50px;
    width: 550px;
    padding-right: -200px;
}
.search-box{
    width: 500px;
    height: 40px;
    padding:20px;
    border-style: none;
    border-color: white;
    border-style: solid;
   
}
.search-btn{
    align-content: center;
    background-color: #141D48;
    margin-left: 0px;
    position: absolute;
    text-align: center;
    padding: 10px;
    height: 18px;
    width: 40px;
    border-color: white;
    border-style: solid;
}
.icon:hover{
    cursor:pointer;
  }
  
  .shopping-cartBtn{
      padding-top: 5px;
      padding-left: 0px;
      position: absolute;
      margin-left:90px ;
  }
  .cart-icon{
      color:white ;
      size-adjust: 100px;
      font-size: 30px;
  }
  .cart-icon:hover{
      color: #10a4df;
      cursor:pointer;
  }
  .category-title{
    background-color: gainsboro;
    position: absolute;
    height: 50px;  
    margin-top: 130px;
    box-shadow: rgb(212, 211, 211);
    width: 994px;
    margin-left: 20%;
    margin-right: 20%;
    border-style: solid;
    border-color: white;
    
}
.head{
    font-family:monospace;
    font-size: 19px;
    color: rgb(68, 68, 68);
    text-align: left;
    padding-left: 10px;
}
  .category-container{
      position: absolute;
      height: 200px;
      width: 1000px;
      margin-top: 185px;
      margin-left: 20%;
      margin-right: 20%;
  }
.art-cat-container{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2fr, 1fr));
    gap:1px;
    
}

.category-container-row1{
    
    background-color: gainsboro;
    height: 140px;
    border-style: solid;
    border-color: white;
      
}
.beverage{
    position: inherit;
    height: 100px;;
    width: fit-content;
    padding-left: 30%;
    padding-right: 50%;
    padding-top: 5px;
}
.category-name{
    text-align: center;
    margin-top: 0px;
    font-family: monospace;
    font-size: 15px;
    color: rgb(68, 68, 68);
}
.category-container-row1:hover h1{
    cursor:pointer;
    color:#141D48;
}
.category-container-row1:hover {
    cursor:pointer;
    border-style:solid;
    border-color: #141D48;
    border-radius: 20px;
}
.bread{
    position: inherit;
    height: 100px;;
    width: fit-content;
    padding-left: 20%;
    padding-right: 50%;
    padding-top: 5px;
}
.can{
    position: inherit;
    height: 100px;;
    width: fit-content;
    padding-left: 30%;
    padding-right: 50%;
    padding-top: 5px;  
}
.dairy{
    position: inherit;
    height: 100px;;
    width: fit-content;
    padding-left: 25%;
    padding-right: 50%;
    padding-top: 5px;  
}
.meat{
    position: inherit;
    height: 100px;;
    width: fit-content;
    padding-left: 20%;
    padding-right: 50%;
    padding-top: 5px;  
}
a{
    text-decoration: none;
}