<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="toolbar">
    <article class="art-toolbar" role="main">
      <div class="img">
        <img src="/assets/Logo.jpg" alt="Logo">
      </div>
      <div class = "input-container" >
        <input class = "search-box" type = "search" name="search" placeholder="Search" id="search">
        <a class ="search-btn" >
          <i class="fa fa-search icon">   </i>
        </a>    
        <a class="shopping-cartBtn" routerLink="/cart" >
          
            <i class="fa cart-icon"  >&#xf217;</i>
          </a>
      </div>
      
    </article>   
  </div>
  <div class="product">
    <div class = "label-container">
      <label class = "prod" >Products</label>
  </div>
  <div class = "prod-container">
    <div class = "prod-details">
    </div>
    <div class = "prod-details">
    </div>
    <div class = "prod-details">
    </div>
    <div class = "prod-details">
    </div>
    <div class = "prod-details">
    </div>
    <div class = "prod-details">
    </div>
    <div class = "prod-details">
    </div>
    <div class = "prod-details">
    </div>
  </div>
  </div>
 