
.toolbar{
    background-color: #141D48;
    height: 120px;
    overflow: hidden;
    position: inherit; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    /*width: 100%; /* Full width */
    margin-top:10px;
    margin-left: -10px;
    margin-right: -20px;
    
}
.img{
    position: relative;
    height: 100px;
    padding-top: 5px;
   
}
article {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  
.icon {
    color:white ;
}

.input-container{
    margin-top: 50px;
    width: 550px;
    padding-right: -200px;
}
.search-box{
    width: 500px;
    height: 40px;
    padding:20px;
    border-style: none;
    border-color: white;
    border-style: solid;
   
}
.search-btn{
    align-content: center;
    background-color: #141D48;
    margin-left: 0px;
    position: absolute;
    text-align: center;
    padding: 10px;
    height: 18px;
    width: 40px;
    border-color: white;
    border-style: solid;
}
.icon:hover{
    cursor:pointer;
  }
  p{
      margin-top: 200px;
  }


.shopping-cartBtn{
    padding-top: 5px;
    padding-left: 0px;
    position: absolute;
    margin-left:90px ;
}
.cart-icon{
    color:white ;
    size-adjust: 100px;
    font-size: 30px;
}
.cart-icon:hover{
    color: #10a4df;
    cursor:pointer;
}
.label-container{
    position: inherit;
    background-color: rgb(154, 156, 155);
    width: 980px;
    text-align: left;
    height: 20px;
    padding: 10px;
    margin-left: 0px;
}
.prod{
    color: white;
    padding-left: 30px;
    width:1000px ;
    font-family: arial, sans-serif;
    font-size: 15px;
}
.product{
    position: inherit;
    width: 1000px;
    position: inherit;
    margin-top: 10px ;
    margin-left: 20%;
    margin-right: 40%;
    text-align: left;
    height: 300px;
    size-adjust: inherit;

}
.prod-container{
    position: inherit;
    display: grid;
    grid: auto auto / auto auto auto auto; 
    grid-gap: 10px;
}
.prod-details{
    background-color: rgb(240, 238, 238);
    height: 300px;
    width: 241px;
    margin-top: 10px;
    margin-bottom: -10px;
}
.prod-details:hover{
    box-shadow:  1px 1px 5px grey;
}