<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="toolbar">
    <article class="art-toolbar" role="main">
      <div class="img">
        <img src="/assets/Logo.jpg" alt="Logo">
      </div>
      <div class = "input-container" >
        <input class = "search-box" type = "search" name="search" placeholder="Search" id="search">
        <a class ="search-btn" >
          <i class="fa fa-search icon">   </i>
        </a>    
          
      </div>
    </article>   
  </div>
  
  <div class = "cart-container">
    <label class = "prod">Products</label>
</div>
