<link rel="stylesheet" href="register-page.component.css">
<form class = "form-container" [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
    <div class="logo-cont">
        <img src="/assets/Logo.jpg" alt="">
    </div>
   
    <div class="form-group">
        <i class="fa fa-user icon ">
        </i>
        <input type="text" formControlName="username" autocomplete="off" class="form-control" placeholder="username"  />
        
    </div>
    <div class="form-group">
        <i class="fa fa-user icon ">
        </i>
        <input type="text" formControlName="name" autocomplete="off" class="form-control" placeholder="fullname"  />
        
    </div>
    
    <div class="form-group">
        <i class="fa icon">&#xf1ac;
        </i>
        <input type="text" formControlName="address"  autocomplete="off" class="form-control" placeholder="address"  />
        
    </div>
    <div class="form-group">
        <i class="fa fa-phone icon ">
        </i>
        <input type="text" formControlName="phonenumber" autocomplete="off" class="form-control" placeholder="phone number"  />
    </div>
    <div class="form-group">
        <i class="fa fa-key  icon  "></i>
        <input type="password" formControlName="password" class="form-control"  placeholder="password"  />
        
    </div>
    <div class="form-group">
        <button class="submitBtn" type = "submit" >
            <span  class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login-page" class="btn btn-link registerBtn ">Log in</a>
    </div>
</form>
