
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  href="app.component.css">
<header>
  <nav class="navbar">
    <a  *ngIf="loginbtn" routerLink="/login-page" routerLinkActive="active">
      Log in  
    </a>
    <a  routerLink="/register-page" routerLinkActive="active">
      Register 
    </a>
    <a  *ngIf="loginbtn" routerLink="/home-page" routerLinkActive="active">
      Home 
    </a>
    <a>Contacts
    </a>
  </nav>
</header>
<router-outlet></router-outlet>